cfgv==3.5.0
colorama==0.4.6
covdefaults==2.3.0
coverage==7.14.1
distlib==0.4.3
filelock==3.29.4
identify==2.6.19
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.2
pastel==0.2.1
platformdirs==4.10.0
pluggy==1.6.0
poethepoet==0.46.0
pre_commit==4.6.0
Pygments==2.20.0
pytest==9.1.0
python-discovery==1.4.2
PyYAML==6.0.3
virtualenv==21.5.0
